<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186957982422-eguufpskoft2ueaao59qdg3ccviag2j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186957982422-eguufpskoft2ueaao59qdg3ccviag2j1</string>
	<key>API_KEY</key>
	<string>AIzaSyAz-PplH986Qovooj7wfCQ9t-7sKieqFSU</string>
	<key>GCM_SENDER_ID</key>
	<string>186957982422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maugost.credpal</string>
	<key>PROJECT_ID</key>
	<string>credpal-53697</string>
	<key>STORAGE_BUCKET</key>
	<string>credpal-53697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186957982422:ios:2719ca43ff598340f83777</string>
	<key>DATABASE_URL</key>
	<string>https://credpal-53697.firebaseio.com</string>
</dict>
</plist>